@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

:root {
    --primary-color: #3e3e3eff;
    --secondary-color: #7abbddff;
    --accent1-color: #f6bf2aff;
    --accent2-color: #494924ff;
  
    --heading-font: 'Oswald', Helvetica, sans-serif;
    --paragraph-font: 'Roboto', Arial, sans-serif;
  
    --nav-background-color: #ffff;
    --nav-link-color: #494924ff;
    --nav-hover-link-color: #18455Dff;
    --nav-hover-background-color: #ffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    font-family: var(--paragraph-font);
    color:var(--primary-color);
    padding: 25px;
}
.sociallinks {
    text-decoration: none;
}  
body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto; /* Center align the content */
    padding:0 20px; /* Add padding to keep content away from edges */
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
header nav{
    text-decoration-line: none;
    padding: 5px;
}
div .hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 120px;
    left: auto;
    width: 1136px;
    padding: 2rem;
    text-align: center;
    background-color: rgba(246, 192, 42, 0.575);
    color: white;
}
.hero article{
    position: absolute;
    top: 400px;
    align-content: center;
    margin-left: 3.5rem;
    width: 1036px;
    padding: 1.5rem;
    background-color: rgba(73, 73, 36, 0.828);
}
article img{
    float: right;
    max-width: 120px;
}
article p{
    color: white;
    width: 80%;
}

  