@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

:root {
    --primary-color: #3e3e3eff;
    --secondary-color: #7abbddff;
    --accent1-color: #f6bf2aff;
    --accent2-color: #494924ff;
  
    --heading-font: 'Oswald', Helvetica, sans-serif;
    --paragraph-font: 'Roboto', Arial, sans-serif;
  
    --nav-background-color: #ffff;
    --nav-link-color: #494924ff;
    --nav-hover-link-color: #18455Dff;
    --nav-hover-background-color: #ffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    font-family: var(--paragraph-font);
    color:var(--primary-color);
    padding: 20px;
}  
body {
    font-family: var(--paragraph-font);
    max-width: 1200px;
    margin: 0 auto; /* Center align the content */
    padding:0 20px; /* Add padding to keep content away from edges */
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header img{
    grid-column: 1;
    border-radius: 60px;
}
header nav{
    text-decoration-line: none;
    padding: 5px;
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav a {
    color: var(--primary-color);
    display: block;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
.hero{
    display: block;
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
}
.hero-grid{
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 4em);
    align-items: center;
    justify-content: center;
}
.hero h1{
    grid-column: 1/11;
    grid-row: 3;
    padding: 1.5rem;
    text-align: center;
    /*background-color:  rgba(122, 186, 221, 0.650);*/
   background-color: rgba(73, 73, 36, 0.800);
    color: white;
}
.hero article{
    display: flex;
    grid-column: 2/10;
    grid-row: 6/9;
    align-content: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 1.5rem;
    /*background-color:  rgba(122, 186, 221, 0.850);*/
    background-color: rgba(73, 73, 36, 0.800);
}
article img{
    align-self: center;
    max-width: 120px;
}
article p{
    color: white;
    width: 80%;
}
section h2{
    text-align: center;
    color: var(--accent2-color);
    padding-top: 20px;
    border-top: 1px solid var(--secondary-color);
}
.gallery{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.gallery img{
    width: 220px;
    height: auto;
}
footer{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,20%);
    border-top: 1px solid var(--secondary-color);
}
footer p{
    grid-column: 1/5;
    display: flex;
    justify-content: center;
}
.sociallinks {
    grid-column: 5;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding: 20px;
}
.sociallinks a{
    padding: 5px;
}